@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.color-fond'); /* Utilisation de la couleur définie dans Tailwind */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-color-fond text-gray-800; /* Application de la classe Tailwind */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
